In [5]:
import pandas as pd

In [48]:
data = pd.read_csv('datasets/fires.csv')
print(data.shape)
data = data.dropna(subset=['DISCOVERY_DATE', 'FIRE_CODE', 'FIRE_NAME', "STATE", "COUNTY_NAME"])
data.head(10)

/Users/jonathanhsu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(1201230, 23)

,Unnamed: 0,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,...,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,COUNTY,FIPS_CODE,FIPS_NAME,STATE,COUNTY_NAME,FIPS_STATE
0,0,BEV0,TONSINA CREEK,2005,2453488.5,118,1250.0,Campfire,2453489.5,119.0,...,60.053333,-149.440000,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
1,1,BEV0,PETERSON CREEK,2005,2453498.5,128,1715.0,Miscellaneous,2453500.5,130.0,...,60.885000,-149.045000,5.0,USFS,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
2,2,BEV0,TWENTY MILE,2005,2453499.5,129,930.0,Debris Burning,2453499.5,129.0,...,60.861667,-148.995000,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
3,3,C63B,MOTORHOME,2007,2454252.5,152,1415.0,Miscellaneous,2454252.5,152.0,...,60.450278,-149.366944,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
4,4,C63B,POWER,2007,2454260.5,160,1430.0,Campfire,2454260.5,160.0,...,60.466944,-149.700278,5.0,USFS,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
5,5,C63B,GWENNIES 1,2007,2454270.5,170,2100.0,Campfire,2454270.5,170.0,...,60.483333,-149.900000,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
6,6,C63B,GWENNIES 2,2007,2454270.5,170,2105.0,Campfire,2454270.5,170.0,...,60.483333,-149.883611,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
7,7,DJ20,HARBORVIEW,2007,2454271.5,171,1100.0,Arson,2454271.5,171.0,...,60.150000,-149.416667,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
8,8,C63B,SOUTH BEACH 2,2007,2454281.5,181,1600.0,Campfire,2454281.5,181.0,...,60.466667,-149.733333,13.0,STATE OR PRIVATE,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2
9,9,C63B,GULL ROCK TRAIL,2007,2454292.5,192,1100.0,Campfire,2454293.5,193.0,...,60.950278,-149.716667,5.0,USFS,122.0,122,Kenai Peninsula,Alaska,Kenai Peninsula,2

In [49]:
print(data.shape)

(167173, 23)

In [50]:
df_fire = data[['FIRE_CODE', 'FIRE_NAME', 'STATE', 'COUNTY_NAME']]
df_fire.head(3)

  FIRE_CODE       FIRE_NAME   STATE      COUNTY_NAME
0      BEV0   TONSINA CREEK  Alaska  Kenai Peninsula
1      BEV0  PETERSON CREEK  Alaska  Kenai Peninsula
2      BEV0     TWENTY MILE  Alaska  Kenai Peninsula

In [51]:
epoch = pd.to_datetime(0, unit='s').to_julian_date()
data['DISCOVERY_DATE'] = pd.to_datetime(data['DISCOVERY_DATE'] - epoch, unit='D')
data['CONT_DATE']= pd.to_datetime(data['CONT_DATE'] - epoch, unit='D')

df_date.head(3)

0   2005-04-28
1   2005-05-08
2   2005-05-09
Name: DISCOVERY_DATE, dtype: datetime64[ns]

In [52]:
df_fire = pd.concat([df_date, df_fire], axis=1)
df_fire.head(5)

  DISCOVERY_DATE FIRE_CODE       FIRE_NAME   STATE      COUNTY_NAME
0     2005-04-28      BEV0   TONSINA CREEK  Alaska  Kenai Peninsula
1     2005-05-08      BEV0  PETERSON CREEK  Alaska  Kenai Peninsula
2     2005-05-09      BEV0     TWENTY MILE  Alaska  Kenai Peninsula
3     2007-06-01      C63B       MOTORHOME  Alaska  Kenai Peninsula
4     2007-06-09      C63B           POWER  Alaska  Kenai Peninsula

In [56]:
df_fire_count = df_fire[['STATE', 'FIRE_CODE']].groupby('STATE').count()
df_fire_count = df_fire_count.rename(columns={'FIRE_CODE': 'FIRE_COUNT'})
df_fire_count.sort_values(by=['FIRE_COUNT'], inplace=True, ascending=False)
df_fire_count.head(10)

            FIRE_COUNT
STATE
California       31176
Oregon           19124
Arizona          18034
Idaho            15867
Utah             12128
Colorado         11970
Montana          10520
Nevada           10291
New Mexico        8357
Washington        5732